.header{
    background-color:black;
    color:rgb(255, 255, 255);
    padding:40px 40px;
}
.header ul{
    list-style: none;
    margin:0px;
    padding:0px;
    display: inline;
    float:right;
}
.header .title{
    font-weight: bold;
    font-size:1.6em;
    display: inline;
}
.header ul li{
    display:inline-block;
    margin:0px 10px;
}
.header ul li a{
    text-decoration: none;
    color:#fff;
}
.header ul li a:hover{
    color:rgb(251, 255, 0);
}
.header ul li a.active{
    color:rgb(251, 255, 0);
    font-weight: bold;
}
